Client/Service References/Gateway/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCloud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCloud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8731/Design_Time_Addresses/ServiceCloud/Gateway/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Argument" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Services" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReturnObject" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServicesRan" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>